:root {
    --mainColor: #333333;
    --secondaryColor: #E7441D;
    --auxiliarColor: #F5F5F5;
    --secondaryTextColor: white;
}


/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1500px) {

    .solutions__desc,
    .beneficio__item,
    .somos-info__text {
        font-size: 1.5em;
    }


}

/*
@media only screen and (max-height: 670px) {

    .solutions__desc,
    .beneficio__item,
    .somos-info__text {
        font-size: 1.2em;
    }
}
*/
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}


@media only screen and (max-height: 870px) and (min-height: 670px) {

    .solutions__desc,
    .somos-info__text,
    .beneficio__item {
        font-size: 1.5em;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .container {
        max-width: 1366px;
    }

    #page-nav {
        display: none;
    }
}


/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 1024px) {
    .slider {
        background-image: url('../img/WEB_Slider.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    }

    .solutions__desc,
    .somos-info__text,
    .beneficio__item {
        font-size: 1.2em;
    }

    .somos {
        background-color: var(--mainColor);
        justify-content: center;
    }

    .somos-info {
        margin-top: 0;
    }

    .beneficios {
        background-image: url('../img/WEB_Beneficioscuadrada.jpg');
        background-size: cover;
        align-items: center;
    }

    .beneficios-info {
        margin: 0;
        box-shadow: none;
    }

}

@media only screen and (max-width: 992px) {
    .main-nav {
        display: none;
    }

    .header--heigth {
        margin-top: 4em;
    }

    .header__logo {
        height: 10vh;
        display: flex;
        align-items: center;
        padding-left: 2em;
        width: 45vw;
    }

    #page-nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }

    /* Show Hamburger */
    #page-nav label {
        display: inline-block;
        color: var(--mainColor);
        background: var(--secondaryTextColor);
        font-style: normal;
        font-size: 1.2em;
        margin-right: 25px;
        text-align: right;
        width: 45%;
    }

    /* Break down menu items into vertical */
    #page-nav ul li {
        display: block;
    }

    #page-nav ul li {
        border-top: 1px solid var(--auxiliarColor);
        padding: .5em 1em;
        text-align: left;
    }

    #page-nav ul li a {
        color: var(--mainColor);
    }

    /* Toggle show/hide menu on checkbox click */
    #page-nav ul {
        display: none;
    }

    #page-nav input:checked~ul {
        display: block;
        width: 100%;
        background-color: white;
    }

    .slider {
        height: 45vh;
    }

    .slider__text {
        width: 90vw;
        font-size: 2em;
    }



    .somos-info {
        margin: 0;
        min-height: 20vh;
        box-shadow: none;
        padding: 1em;
    }

    .section__title {
        font-size: 2em;
    }

    .somos-info__text {
        font-size: 1.2em;
    }

    .solutions {
        width: 100%;
    }


    .solution__text,
    .beneficio__item,
    .solutions__desc {
        font-size: 1.2em;
    }

    .beneficios .section__title {
        margin: 0;
    }

    .footer {
        flex-direction: column;
        text-align: center;
        line-height: 2em;
    }

    #contacto {
        display: none;
    }

    #contacto-mobile {
        display: block;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .form-mobile {
        padding: 1em;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .form-mobile input.form-row__input {
        margin: 1em 0;
        height: 2em;
    }

    .form-mobile textarea {
        height: 8em;
        margin: 1em 0;
        padding-top: .5em;
    }

    .form__button {
        display: flex;
        justify-content: flex-end;
    }

    .form-mobile .form-row__input::placeholder {
        color: var(--mainColor);
    }

    .contacto {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .contact-icon {
        display: none;
    }

    .contact-info {
        width: 95%;
    }

    .form-row {
        padding: 1em;
    }

    .contacto-footer {
        display: block;
        background-image: url('../img/contacto_naranja.png');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: left bottom;
        width: 100%;
        height: 20vh;
    }

}

/* Medium devices (landscape tablets, 768px and down) */
@media only screen and (max-width: 768px) {
    .slider__text {
        font-size: 2em;
    }

    /* .somos {
    max-height: 55vh;
} */
    /* .somos-info {
    max-height: 35vh;
} */

    .contacto-footer {
        height: 15vh;
    }
}


@media only screen and (max-width: 550px) {
    #page-nav label {
        width: 30%;
    }

    .slider__text {
        font-size: 1.5em;
    }

    .somos-info__text,
    .beneficio__item,
    .solutions__desc {
        font-size: 3vw;
    }

    .beneficios {
        max-height: 40vh;
    }

    .beneficios-info {
        max-height: 25vh;
    }

    .somos {
        min-height: 45vh;
    }

    .somos-info {
        min-height: 25vh;
    }

    .section__title {
        font-size: 1.5em;
    }

    .form-row__item {
        width: 65%;
    }

    .solution__text {
        font-size: 3vw;
    }

    .contacto-footer {
        height: 10vh;
    }
}